<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mark.user %>
</p>

<p>
  <strong>Content:</strong>
  <%= @mark.content %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @mark.quantity %>
</p>

<p>
  <strong>Max:</strong>
  <%= @mark.max %>
</p>

<%= link_to 'Edit', edit_mark_path(@mark) %> |
<%= link_to 'Back', marks_path %>
