<%= form_for(rm) do |f| %>
  <% if rm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rm.errors.count, "error") %> prohibited this rm from being saved:</h2>

      <ul>
      <% rm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :max %>
    <%= f.text_field :max %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
