<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rm.user %>
</p>

<p>
  <strong>Content:</strong>
  <%= @rm.content %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @rm.quantity %>
</p>

<p>
  <strong>Max:</strong>
  <%= @rm.max %>
</p>

<%= link_to 'Edit', edit_rm_path(@rm) %> |
<%= link_to 'Back', rms_path %>
